<% layout('layouts/boilerplate') %>
<div class="container">
    <form action="/login" method="post" class="login">
       <div class="container">
            <h1>Log in</h1>
            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password"><br>
            <input type="checkbox"><span>Remember me</span>
            <a href="/register">Do youhave no account</a>
            <button type="submit">log in</button>
            
       </div>
    </form>
    <!-- <div class="register">
        <div class="container">
            <i class="fas fa-user-plus fa-5x"></i>
            <h2>Hello,friend!</h2>
            <p>Don't have an account</p>
            <button> <a href="/register">Register </a><i class="fas fa-arrow-circle-right"></i></button>
        </div>
    </div>   -->
</div>