<% layout('layouts/boilerplate') %>
<div class="container">
    <form action="/register"  method="post" >
       <div class="container">
            <h1>Signup</h1>
            <input   name="username" type="text" placeholder="Name">
            <input   name="email" type="email" placeholder="Email">
            <input   name="password" type="password" placeholder="Password"><br>
            <input type="checkbox"><span>I accept terms and conditions</span>
            <button type="submit">SignUp</button>
        </form>
    </div>
  </div>