<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<ul>
    <%if(user.cart.length==0){%>
        <h1>your cart is empty</h1>
    <%}%>
    <%for(let item of user.cart){%>
        <li><%=item.name%></li>
        <img src="<%=item.image%>" alt="">
        <li><%=item.price%></li>
    <%}%>
</ul>