<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<br><br>
<div>
    <a href="/products/women"><img src="https://manyavar.scene7.com/is/image/manyavar/I02_IMGL2778_02-02-2021-18-42:283x395" alt="">women</a>
    <a href="/products/men"><img src="https://manyavar.scene7.com/is/image/manyavar/I02_IMGL2778_02-02-2021-18-42:283x395" alt="">Men</a>
    <a href="/products/Footwear"><img src="https://manyavar.scene7.com/is/image/manyavar/I02_IMGL2778_02-02-2021-18-42:283x395" alt="">Footwear</a>
    <a href="/products/accessories"><img src="https://manyavar.scene7.com/is/image/manyavar/I02_IMGL2778_02-02-2021-18-42:283x395" alt="">Accessories</a>
    
</div>
<%- include('../partials/footer') %>
</body>
</html>